name: ttlock_flutter
description: The ttLock flutter plugin that used to control smart lock and gateway.
version: 0.3.9
homepage: https://github.com/ttlock/ttlock_flutter.git

environment:
  sdk: ">=2.12.0 <4.0.0"
  flutter: ">=1.17.5"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' and Android 'package' identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.ttlock.ttlock_flutter
        pluginClass: TtlockFlutterPlugin
      ios:
        pluginClass: TtlockFlutterPlugin

#发布 更新插件  https://blog.csdn.net/m0_37714581/article/details/100162272
