<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ttlock.bl.sdk" >

    <uses-sdk android:minSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- 创建自定义授权 -->
    <permission
        android:name="${applicationId}.permission.BLE_RECEIVER"
        android:protectionLevel="signatureOrSystem" />
    <!-- 声明自定义权限 -->
    <uses-permission android:name="${applicationId}.permission.BLE_RECEIVER" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application android:supportsRtl="true" >
        <service
            android:name="com.ttlock.bl.sdk.service.DfuService"
            android:exported="false" />

        <provider
            android:name="com.ttlock.bl.sdk.provider.InitProvider"
            android:authorities="${applicationId}.ttlock.sdk.provider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name="com.ttlock.bl.sdk.util.DeviceFilePorvider"
            android:authorities="${applicationId}.android7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>